{% extends 'base.html' %}
{% load static %}
{% block title %}Feedback{% endblock %}

{% block content %}
<!-- About Section -->
  <div id="about" style="min-height: 800px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">Complaints</h1>
          <hr>
          {% for feedback in feedbacks %}
          <div class="complaints" style="border-bottom: 2px dotted rgb(213,213,213); margin-bottom:20px;">
              <p style="margin: 11px 0 0px">{{ feedback.customer.user.username }} - "{{ feedback.feedback }}"&nbsp; <a href="{% url 'invalid' %}?id={{ feedback.id }}" class="btn btn-outline-primary" style="float:right;">Invalid</a> <a href="{% url 'valid' %}?id={{ feedback.id }}" class="btn btn-outline-primary" style="float:right;">Valid</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
