{% extends "base.html" %} {% load static %} {% load has_group %} {% block title %}Dashboard{% endblock %} {% block content %}

<style>
    table {
        border-spacing: 20px;
    }

    td {
        padding: 20px;
    }
</style>

<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1>Overview</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-4">
                <div class="about-text">
                    <h2>Overview</h2>
                    <hr>
                    {% if user.is_authenticated and request.user|has_group:"manager" %}
                    <h3>Salary: {{user.employee.salary}}</h3>
                    <h3>Compliant count: {{user.employee.complaints}}</h3>
                    <h3>Compliment count: {{user.employee.compliments}}</h3>
                    <h3>Demotions remaining: {{user.employee.demotions_remaining}}</h3>
                    <br>
                    <br>
                    <h2>Feedback</h2>
                    <hr>
                    <table>
                        {% for feedback in feedbacks %}
                        <tr>
                            <th>Customer:</th>
                            <td>{{feedback.customer.user.username}}</td>
                            <th>Feedback:</th>
                            <td>{{feedback.feedback}}</td>
                            <th>Type:</th>
                            <td>{{feedback.feedback_type}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <br>
                    <h2>Actions</h2>
                    <hr>
                    <a href="/register/employee" class="btn btn-primary" style="float:left;"><strong>Register New Employee</a></strong>

                    {% elif user.is_authenticated and request.user|has_group:"chef" %}
                    <h3>Salary: {{user.employee.salary}}</h3>
                    <h3>Compliant count: {{user.employee.complaints}}</h3>
                    <h3>Compliment count: {{user.employee.compliments}}</h3>
                    <h3>Demotions remaining: {{user.employee.demotions_remaining}}</h3>
                    <br>
                    <br>
                    <h2>Feedback</h2>
                    <hr>
                    <table>
                        {% for feedback in feedbacks %}
                        <tr>
                            <th>Customer:</th>
                            <td>{{feedback.customer.user.username}}</td>
                            <th>Feedback:</th>
                            <td>{{feedback.feedback}}</td>
                            <th>Type:</th>
                            <td>{{feedback.feedback_type}}</td>
                        </tr>
                        {% endfor %}
                    </table>

                    {% elif user.is_authenticated and request.user|has_group:"driver" %}
                    <h3>Salary: {{user.employee.salary}}</h3>
                    <h3>Compliant count: {{user.employee.complaints}}</h3>
                    <h3>Compliment count: {{user.employee.compliments}}</h3>
                    <h3>Demotions remaining: {{user.employee.demotions_remaining}}</h3>
                    <br>
                    <br>
                    <h2>Feedback</h2>
                    <hr>
                    <table>
                        {% for feedback in feedbacks %}
                        <tr>
                            <th>Customer:</th>
                            <td>{{feedback.customer.user.username}}</td>
                            <th>Feedback:</th>
                            <td>{{feedback.feedback}}</td>
                            <th>Type:</th>
                            <td>{{feedback.feedback_type}}</td>
                        </tr>
                        {% endfor %}
                    </table>


                    {% else %}
                    <h3>...<h3>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
