{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Delivery Detail{% endblock %}
{% block content %}

<div id="about" style="min-height:800px">
    <div class="container">
            <h1>Delivery Details</h1>
            <hr>
            <p><strong>Deliver To:</strong>&nbsp&nbsp{{ address }}</p>
            <!-- <h1 id="zoom-to-area-text">{{address}}</h1> -->
            <div id="map">
            </div>
            <div>
                <h1 hidden id="zoom-to-area-text">{{address}}</h1>
                <br>
                <input id="zoom-to-area" type="button" value="View Delivery Route">
            </div>
    </div>
    <br> 
    <br>
    
    <div class="container">       
        <div class="row order-heading">
            <div class="col-md-4">
                <p class="order-no">Order #{{ order.id }}
                {% if order.frozen %}
                (Frozen)
                {% endif %}
                </p>
            </div>
            <div class="col-md-3">
                <p style="float:right;">{{ order.date }}</p>
            </div>
            <div class="col-md-5">
                <p style="float:right;">Total: ${{ order.total }}</p>
            </div>
        </div>

        <div class="row order">
            <div class="col-md-5">
                <p style="float:left;"><strong>Customer:</strong>&nbsp&nbsp{{order.customer.user.first_name}}&nbsp{{order.customer.user.last_name}}</p>
            </div>
            <div class="col-md-7">
                <p style="float:left;"><strong>Address:</strong>&nbsp&nbsp{{order.address}}</p>
            </div>
        </div>
        {% for order_item in order.item_set %}
            <div class="row order">
                <div class="col-md-2">
                    <img src="{{ order_item.item.image_url }}" class="checkout-img" />
                </div>
                <div class="col-md-4">
                    <div class="order-row-group">
                        <p class="order-item-name">{{ order_item.item.name }}</p>
                        <br>
                        <p class="order-item-descr"><em>{{ order_item.item.short_description }}</em></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="order-row-group">
                        <p class="order-item-quant">Quantity: {{ order_item.quantity }}</p>
                        <br>
                        <p class="order-item-subtotal"> ${{ order_item.subtotal }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row order-bottom">
        </div>    
    </div> <!-- end container-->
</div>
{% endblock %}