{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<div class ="container">
	<form method="post">
		{% csrf_token %}
		<div class="form-group">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
        <div class="form-group">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
		<button type="submit">Submit</button>
	</form>
</div>

{% endblock content %}