{% extends "base.html" %}
{% load static %}
{% block title %}Foodie{% endblock %}
{% block content %}
<!-- Header -->
<header id="header">
<div class="intro">
    <div class="overlay">
    <div class="container">
    <div style="margin: auto; width:80%;" >
    <!--<div class="shopping-cart">-->
        <!--<div class="shopping-cart-header">-->
        <!--<i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>-->
        <!--<div class="shopping-cart-total">-->
            <!--<span class="lighter-text">Total:</span>-->
            <!--<span class="main-color-text">$2,229.97</span>-->
        <!--</div>-->
        <!--</div> [>end shopping-cart-header <]-->

        <!--<ul class="shopping-cart-items">-->
        <!--<li class="clearfix">-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />-->
            <!--<span class="item-name">Sony DSC-RX100M III</span>-->
            <!--<span class="item-price">$849.99</span>-->
            <!--<span class="item-quantity">Quantity: 01</span>-->
        <!--</li>-->
        <!--<a href="#" class="button">Checkout</a>-->
    <!--</div> [>end shopping-cart <]-->
    </div>
        <div class="row">
        <div class="intro-text">
            <h1>Foodie</h1>
            <p>Eat it</p>
        </div>
        </div>
    </div>
    </div>
</div>
</header>
<!-- About Section -->
<div id="about">
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-6 ">
        <div class="about-img"><img src={% static "img/about.jpg" %} class="img-responsive" alt=""></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="about-text">
        <h2>Our Restaurant</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
        </div>
    </div>
    </div>
</div>
</div>
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
<div class="section-title text-center center">
    <div class="overlay">
    <h2>Menu</h2>
    <hr>
    <p>Top Five Items On Our Menu!</p>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="menu-section">
        <h2 class="menu-section-title">Customer FAVORITES</h2>
        <hr>
        {% for item in menu_favorites %}
        <div class="menu-item">
            <div class="menu-item-name"> {{ item.name }} </div>
            <div class="menu-item-price"> ${{ item.price }} </div>
            <div class="menu-item-description"> {{ item.short_description }}
                <span style="float: right;">Rating: {{ item.rating }}</span>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
<div class="section-title text-center center">
    <div class="overlay">
    <h2>Gallery</h2>
    <hr>
    <p>Look upon thy bounty and tremble with desire.</p>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/01-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/01-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/02-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/02-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/03-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/03-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/04-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/04-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/05-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/05-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/06-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/06-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/07-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/07-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/08-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/08-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/09-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/09-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
        <div class="portfolio-item">
            <div class="hover-bg">
              <a href={% static "img/portfolio/10-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/10-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
        <div class="portfolio-item">
            <div class="hover-bg">
            <a href={% static "img/portfolio/11-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/11-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
        <div class="portfolio-item">
            <div class="hover-bg">
                <a href={% static "img/portfolio/12-large.jpg"%} title="Dish Name" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                <h4>Dish Name</h4>
                </div> <img src={% static "img/portfolio/12-small.jpg"%} class="img-responsive" alt="Project Title"> </a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock content %}
