{% extends "base.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}

<!-- About Section -->
  <header id="header">
      <div class="intro" style="background: url({% static "img/menu-bg.jpg" %}) no-repeat center center; ">
      <div class="overlay" style="background: rgba(0, 0, 0, 0.7)">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>Menu</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% if not certified %}
  <div class="text-center">
    <h1 style="margin: 50px;">Sorry! Our manager has not certified your account yet. Please try again later.</h1>
  </div>
  {% else %}
  <div id="customer-menu" style="min-height: 800px; background-color: #f1f1f1">
    <div class="container">
    {% for row in menu %}
      <div class="row" style="padding: 50px; text-align:center;">
        {% for item in row %}
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="{{ item.image_url }}" />
                <div class="caption">
                    <h3>{{ item.name }}</h3>
                    <p>${{ item.price }}</p>
                    <a href="{% url 'add' %}?menu_id={{ item.id }}" class="btn btn-secondary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    </div>
  </div>
  {% endif %}

{% endblock %}
