{% load static %}
{% load has_group %}

{% if nav_on %} <!-->Some ugly ass hell html/css hacks cause I'm too lazy to write javascript -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: #262626; padding: 10px;">
{% else %}
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
{% endif %}
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand page-scroll" href="/">Foodie</a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated and request.user|has_group:"customer" %}
        <li><a href="" class="page-scroll">Orders</a></li>
        <li><a href="{% url 'menu' %}" class="page-scroll">Menu</a></li>
        <li><a href="" class="page-scroll">Account</a></li>
        <li><a href="{% url 'logout' %}" class="page-scroll">Logout<br></a></li>
        <li class="dropdown">{% include 'shopping_cart.html' %}/<li>
        {% elif user.is_authenticated %}
        <li><a href="{% url 'logout' %}" class="page-scroll">Logout<br></a></li>
        {% else %}
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
        <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
        <li><a href="{% url 'login' %}" class="page-scroll">LOGIN</a></li>
        {% endif %}
    </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
</nav>
