{% load carton_tags %}
{% get_cart as cart %}

<a href="#" class="dropdown toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">{{ cart.count }}</span></a>
<ul class="dropdown-menu shopping-cart">
    <li class="dropdown-header">
        <div class="shopping-cart-header">
            <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{ cart.count }}</span>
            <div class="shopping-cart-total">
                <span class="lighter-text">Total:</span>
                <span class="main-color-text">${{ cart.total }}</span>
            </div>
        </div> <!--end shopping-cart-header -->
    </li>
    <ul class="shopping-cart-items">
        {% if cart.count != 0 %}
            {% for item in cart.items %}
            <li class="clearfix">
                <a href="{% url 'remove' %}?menu_id={{ item.product.id }}" style="float:right; margin-top:5%"><i class="fa fa-times fa-3x" aria-hidden="true"></i></a>
                <img src={{ item.product.image_url }} alt="item1" />
                <span class="item-name">{{ item.product.name }}</span>
                <span class="item-price">${{ item.subtotal }}</span>
                <span class="item-quantity">Quantity: {{ item.quantity }}</span>
            </li>
            {% endfor %}
        {% else %}
            <li class="clearfix text-center">
                <p> Empty</p>
            </li>
        {% endif %}
    </ul>
    <a href="{% url 'checkout' %}" class="button">Checkout</a>
</ul>
